<div class="content">
  <div class="first-layout">
    <div class="header" [ngClass]="layoutAtual">
      <div class="logo">
        <img src="assets/images/logo.svg" alt="logo" class="logo-img"/>
      </div>
      <div class="buttons">
        <div class="button-header">Como é feito?</div>
        <div class="button-header">Cupons</div>
        <div class="button-header">Sobre</div>
        <div class="button-enter">Entrar
          <div class="icon-arrow">
            <img class="right-arrow" src="assets/images/enter-arrow.svg" alt="arrow-right" />
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="left-side">
        <div class="message">
          <div class="title comida">comida</div>
          <div class="title natural">natural</div>
          <div class="title pet">pet</div>
        </div>
        <div class="button">
          <p class="title">Eu Quero</p>
          <div class="arrow">
            <img class="right-arrow" src="assets/images/black-arrow.svg" alt="arrow-right" />
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="circle">
        </div>
        <div class="product-image">
          <img src="assets/images/product-2.png" alt="product" class="product" />
        </div>
        <div class="shadow"></div>
      </div>
    </div>
  </div>
  <div class="second-layout">
    <div class="second-layout-title">
      <div class="first-title title">passo a passo da</div>
      <div class="second-title title">compra da comida</div>
    </div>
    <div class="tutorial-cards">
      <div class="cards">
        <div class="card background-green">
          <div class="card-number green">1</div>
          <div class="card-title">
            <div>Como é</div>
            <div>seu AUmigo?</div>
          </div>
          <div class="card-image">
            <img src="assets/images/card-dog.png" alt="card-dog" />
          </div>
          <div class="card-description">
            <div>Ele passeia todos os dias?</div>
            <div class="hr"></div>
            <div>Tem alguma restrição</div>
            <div>alimentar?</div>
          </div>
        </div>
        <div class="card background-blue">
          <div class="card-number blue">2</div>
          <div class="card-title">
            <div>Vamos te sugerir</div>
            <div>algumas receitas</div>
          </div>
          <div class="card-image">
            <img src="assets/images/card-food.png" alt="card-food" />
          </div>
          <div class="card-description">
            <div>Receitas próprias para o</div>
            <div>estilo de vida e restrições</div>
            <div>do seu pet</div>
          </div>
        </div>
        <div class="card background-purple">
          <div class="card-number purple">3</div>
          <div class="card-title">
            <div>Selecione</div>
            <div>o sabor</div>
          </div>
          <div class="card-image">
            <img src="assets/images/card-cow.png" alt="card-cow" />
          </div>
          <div class="card-description">
            <div>Escolha entre</div>
            <div>carne, frango e peixe</div>
          </div>
        </div>
        <div class="card background-salmon">
          <div class="card-number salmon">4</div>
          <div class="card-title">
            <div>Escolha seu</div>
            <div>pacote</div>
          </div>
          <div class="card-image">
            <img src="assets/images/card-product.png" alt="card-product" />
          </div>
          <div class="card-description">
            <div>Escolha entre os</div>
            <div>pacotes semanal, mensal</div>
            <div>ou semestral</div>
          </div>
        </div>
      </div>
      <div class="line">
        <div class="dotted-line">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <div class="warning">
      <div class="title">Todas as receitas são geradas previamente por um veterinário especialista em nutrição pet</div>
    </div>
  </div>
  <div class="third-layout">
    <div class="first-session">
      <div class="left-side">
        <div class="message">
          <img src="assets/images/hearth.svg" alt="hearth" class="hearth" />
          <div class="title">
            <p>COMIDA</p>
            <p>CUSTOMIZADA</p>
            <p>PARA SEU</p>
            <p>CACHORRO</p>
          </div>
          <div class="description">
            <p>Cada cachorro tem seu estilo de vida</p>
            <p>e suas necessidades, geramos</p>
            <p>receitas customizadas para atender</p>
            <p>seu pet, assim ele terá uma vida mais</p>
            <p>saudável</p>
          </div>
          <div class="button">
            Eu Quero
            <div class="icon-arrow">
              <img class="right-arrow" src="assets/images/black-arrow.svg" alt="arrow-right" />
            </div>
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="circle">
          <div class="embalagem-grande">
            <img src="assets/images/embalagem-grande-ingredientes.png" alt="embalagem-grande" class="embalagem-grande-img" />
          </div>
        </div>
      </div>
    </div>
    <div class="second-session">
      <div class="packages">
        <div class="package">
          <div class="body unic">
            <div class="content">
              <div class="title unic">
                <p>PACOTE NÃO</p>
                <p>RECORRENTE</p>
              </div>
              <p>Entrega única</p>
              <div class="hr"></div>
              <p class="disabled">Mix de sabores</p>
              <div class="hr"></div>
              <p class="disabled">Desconto</p>
              <div class="hr"></div>
              <p class="disabled">Pacotes de transição</p>
              <p class="disabled">da alimentação</p>
            </div>
          </div>
          <div class="footage unic">
            14 PORÇÕES
          </div>
        </div>
        <div class="package monthly">
          <div class="best-seller">
            <div class="star">
              <img src="assets/images/star.svg" alt="star" />
            </div>
            <div class="title">
              mais escolhido
            </div>
          </div>
          <div class="new">
            <div class="title">
              novo
            </div>
          </div>
          <div class="body monthly">
            <div class="content">
              <div class="title monthly">
                <p>PACOTE</p>
                <p>MENSAL</p>
              </div>
              <p>Entregas semanais para</p>
              <p>não encher seu freezer</p>
              <div class="hr"></div>
              <p>Mix de sabores</p>
              <div class="hr"></div>
              <p>Desconto de <strong>10%</strong></p>
              <div class="hr"></div>
              <p>Pacotes de transição</p>
              <p>da alimentação</p>
            </div>
          </div>
          <div class="footage monthly">
            62 PORÇÕES
          </div>
        </div>
        <div class="package semester">
          <div class="body semester">
            <div class="content">
              <div class="title semester">
                <p>PACOTE</p>
                <p>SEMESTRAL</p>
              </div>
              <p>Entregas semanais para</p>
              <p>não encher seu freezer</p>
              <div class="hr"></div>
              <p >Mix de sabores</p>
              <div class="hr"></div>
              <p>Desconto de <strong>20%</strong></p>
              <div class="hr"></div>
              <p>Pacotes de transição</p>
              <p>da alimentação</p>
            </div>
          </div>
          <div class="footage semester">
            372 PORÇÕES
          </div>
        </div>
      </div>
      <div class="warning">
        <div class="title">Os preços variam de acordo com o porte do cachorro</div>
      </div>
    </div>
  </div>
  <div class="fourthy-layout">
    <div class="left-side">
      <div class="message">
        <div class="title">
          <p>TROQUE A</p>
          <p>COMIDA DO</p>
          <p>SEU PET AOS</p>
          <p>POUCOS</p>
        </div>
        <div class="description">
          <p>Se seu cachorro come rações tradicionas, você</p>
          <p>precisa fazer a troca da alimentação industrial</p>
          <p>para a natural aos poucos. Esse kit de boas-</p>
          <p>vindas te ajuda nessa transição.</p>
        </div>
        <div class="description-2">
          <p>Gratuito para quem se inscreve no pré</p>
          <p>lançamento</p>
        </div>
        <div class="button">
          Eu Quero
          <div class="icon-arrow">
            <img class="right-arrow" src="assets/images/black-arrow.svg" alt="arrow-right" />
          </div>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="circle">
        <div class="tres-embalagens">
          <img src="assets/images/tres-embalagens.png" alt="tres-embalagens" class="tres-embalagens-img" />
        </div>
        <div class="discount">
          <p class="old-price">R$ 24,90</p>
          <p class="price">R$ 00,00</p>
          <p class="pre-lancamento">pré lançamento</p>
        </div>
      </div>
    </div>
  </div>
</div>
