<div class="first-layout">
  <div class="header">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="logo" />
    </div>
    <div class="buttons">
      <div class="button-header assinatura">Assinatura</div>
      <div class="button-header como-e-feito">Como é feito?</div>
    </div>
  </div>
  <div class="content">
    <div class="left-side">
      <div class="message">
        <div class="title comida">comida</div>
        <div class="title natural">natural</div>
        <div class="title pet">pet</div>
      </div>
      <div class="button">
        <p>EU QUERO</p>
      </div>
    </div>
    <div class="right-side">
      <div class="circle">
      </div>
      <div class="product-image">
        <img src="assets/images/product.png" alt="product" class="product" />
      </div>
      <div class="shadow"></div>
    </div>
  </div>
</div>
<div class="second-layout">
  <div class="second-layout-title">
    <div class="first-title">passo a passo da</div>
    <div class="second-title">compra da comida</div>
  </div>
  <div class="tutorial-cards">
    <div class="card background-green">
      <div class="card-number green">1</div>
      <div class="card-title">
        <div>Como é</div>
        <div>seu AUmigo?</div>
      </div>
      <div class="card-image">
        <img src="assets/images/card-dog.png" alt="card-dog" />
      </div>
      <div class="card-description">
        <div>Ele passeia todos os dias?</div>
        <div class="hr"></div>
        <div>Tem alguma restrição</div>
        <div>alimentar?</div>
      </div>
    </div>
    <div class="card background-blue">
      <div class="card-number blue">2</div>
      <div class="card-title">
        <div>Vamos te sugerir</div>
        <div>algumas receitas</div>
      </div>
      <div class="card-image">
        <img src="assets/images/card-food.png" alt="card-food" />
      </div>
      <div class="card-description">
        <div>Receitas próprias para o</div>
        <div>estilo de vida e restrições</div>
        <div>do seu pet</div>
      </div>
    </div>
    <div class="card background-purple">
      <div class="card-number purple">3</div>
      <div class="card-title">
        <div>Selecione</div>
        <div>o sabor</div>
      </div>
      <div class="card-image">
        <img src="assets/images/card-cow.png" alt="card-cow" />
      </div>
      <div class="card-description">
        <div>Escolha entre</div>
        <div>carne, frango e peixe</div>
      </div>
    </div>
    <div class="card background-salmon">
      <div class="card-number salmon">4</div>
      <div class="card-title">
        <div>Escolha seu</div>
        <div>pacote</div>
      </div>
      <div class="card-image">
        <img src="assets/images/card-product.png" alt="card-product" />
      </div>
      <div class="card-description">
        <div>Escolha entre os</div>
        <div>pacotes semanal, mensal</div>
        <div>ou semestral</div>
      </div>
    </div>
  </div>
  <div class="line">
    <div class="dotted-line">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </div>
  <div class="warning">
    <div class="title">Todas as receitas são geradas previamente por um veterinário especialista em nutrição pet</div>
  </div>
</div>
<div class="third-layout">
  <div class="first-session">
    <div class="green-circle">
      <div class="discount-message">
        <p>R$100,00 DE</p>
        <p>DESCONTO NO</p>
        <p>LANÇAMENTO</p>
      </div>
    </div>
    <div class="happy-dog">
      <img src="assets/images/happy-dog.svg" alt="happy-dog" />
    </div>
    <div class="message">
      <p>No dia do lançamento você ganha</p>
      <p>R$100,00 de desconto na compra</p>
      <p>de um pacote mensal ou</p>
      <p>semestral</p>
      <div class="button">EU QUERO
        <div class="icon-arrow">
          <img class="right-arrow" src="assets/images/rigth-arrow.png" alt="arrow-right" />
        </div>
      </div>
    </div>
  </div>
  <div class="second-session">
    <div class="packages">
      <div class="package">
        <div class="body unic">
          <div class="content">
            <div class="title unic">
              <p>PACOTE NÃO</p>
              <p>RECORRENTE</p>
            </div>
            <p>Entrega única</p>
            <div class="hr"></div>
            <p class="disabled">Mix de sabores</p>
            <div class="hr"></div>
            <p class="disabled">Desconto</p>
            <div class="hr"></div>
            <p class="disabled">Pacotes de transição</p>
            <p class="disabled">da alimentação</p>
          </div>
        </div>
        <div class="footage unic">
          14 PORÇÕES
        </div>
      </div>
      <div class="package monthly">
        <div class="best-seller">
          <div class="star">
            <img src="assets/images/star.svg" alt="star" />
          </div>
          <div class="title">
            mais escolhido
          </div>
        </div>
        <div class="new">
          <div class="title">
            novo
          </div>
        </div>
        <div class="body monthly">
          <div class="content">
            <div class="title monthly">
              <p>PACOTE</p>
              <p>MENSAL</p>
            </div>
            <p>Entregas semanais para</p>
            <p>não encher seu freezer</p>
            <div class="hr"></div>
            <p>Mix de sabores</p>
            <div class="hr"></div>
            <p>Desconto de <strong>10%</strong></p>
            <div class="hr"></div>
            <p>Pacotes de transição</p>
            <p>da alimentação</p>
          </div>
        </div>
        <div class="footage monthly">
          62 PORÇÕES
        </div>
      </div>
      <div class="package semester">
        <div class="body semester">
          <div class="content">
            <div class="title semester">
              <p>PACOTE</p>
              <p>SEMESTRAL</p>
            </div>
            <p>Entregas semanais para</p>
            <p>não encher seu freezer</p>
            <div class="hr"></div>
            <p >Mix de sabores</p>
            <div class="hr"></div>
            <p>Desconto de <strong>20%</strong></p>
            <div class="hr"></div>
            <p>Pacotes de transição</p>
            <p>da alimentação</p>
          </div>
        </div>
        <div class="footage semester">
          372 PORÇÕES
        </div>
      </div>
    </div>
    <div class="warning">
      <div class="title">Os preços variam de acordo com o porte do cachorro</div>
    </div>
  </div>
</div>
<div class="fourthy-layout">

</div>
